/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NAV  1
#define NUM  2
#define SYM  3

/*
 * 42-key order: left rows 0-5 / 12-17 / 24-29, right rows 6-11 / 18-23 / 30-35,
 * thumbs 36-38 (left), 39-41 (right).
 * Base is Colemak-DH, sent as-is (assumes the OS is set to QWERTY).
 */

/ {
    behaviors {
        hml: hml {  // left-hand home row mods
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            //require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
            hold-trigger-on-release;
        };
        hmr: hmr {  // right-hand home row mods
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            //require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
            hold-trigger-on-release;
        };
    };

    macros {
        m_arrow: m_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp MINUS &kp GT>;
        };
        m_fat: m_fat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp EQUAL &kp GT>;
        };
        m_scope: m_scope {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp COLON &kp COLON>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_lpar  { timeout-ms = <30>; require-prior-idle-ms = <100>; layers = <BASE>; key-positions = <2 3>;   bindings = <&kp LPAR>; };  // W+F
        combo_rpar  { timeout-ms = <30>; require-prior-idle-ms = <100>; layers = <BASE>; key-positions = <8 9>;   bindings = <&kp RPAR>; };  // U+Y
        combo_lbkt  { timeout-ms = <30>; require-prior-idle-ms = <100>; layers = <BASE>; key-positions = <26 27>; bindings = <&kp LBKT>; };  // X+C
        combo_rbkt  { timeout-ms = <30>; require-prior-idle-ms = <100>; layers = <BASE>; key-positions = <32 33>; bindings = <&kp RBKT>; };  // , + .
        combo_lbrc  { timeout-ms = <30>; require-prior-idle-ms = <100>; layers = <BASE>; key-positions = <28 29>; bindings = <&kp LBRC>; };  // D+V
        combo_rbrc  { timeout-ms = <30>; require-prior-idle-ms = <100>; layers = <BASE>; key-positions = <30 31>; bindings = <&kp RBRC>; };  // K+H
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // -----------------------------------------------------------------------------
            // |  TAB |  Q   |  W   |  F   |  P   |  B   |   |  J   |  L   |  U   |  Y   |  ;   |  '   |
            // |  ESC |  A   | R/AL | S/CT | T/SH |  G   |   |  M   | N/SH | E/CT | I/AL |  O   | CARN |
            // | CTRL |  Z   |  X   |  C   |  D   |  V   |   |  K   |  H   |  ,   |  .   |  /   | SHFT |
            //                      | GUI  | SPC  | DEL  |   | ENT  | BSP  | ACUT |
            //                      |      | NAV  | NUM  |   | SYM  | NUM  |      |
            // Combos (base only): W+F (   U+Y )   X+C [   ,+. ]   D+V {   K+H }
            bindings = <
            &kp TAB   &kp Q  &kp W          &kp F          &kp P          &kp B     &kp J  &kp L            &kp U          &kp Y          &kp SEMI  &kp SQT
            &kp ESC   &kp A  &hml LALT R    &hml LCTRL S   &hml LSHFT T   &kp G     &kp M  &hmr LSHFT N     &hmr LCTRL E   &hmr LALT I    &kp O     &kp RA(EQUAL)
            &kp LCTRL &kp Z  &kp X          &kp C          &kp D          &kp V     &kp K  &kp H            &kp COMMA      &kp DOT        &kp FSLH  &kp RSHFT
                                      &kp LGUI  &lt NAV SPACE  &lt NUM DEL    &lt SYM RET  &lt NUM BSPC  &kp RA(SQT)
            >;
        };

        nav_layer {  // held with left thumb
            // -----------------------------------------------------------------------------
            // | ____ |      |      |      |      |      |   |      | HOME | PGUP | PGDN | END  | ____ |
            // | ____ | GUI  | ALT  | CTRL | SHFT |      |   |      | LEFT | DOWN |  UP  | RGHT | ____ |
            // | ____ |  ^Z  |  ^X  |  ^C  |  ^Y  |  ^V  |   | DEL  | BSPC | ^LFT | ^RGT |  ů   | ____ |
            //                      | ____ | ____ | ____ |   | ____ | ____ | ____ |
            // ^Z undo, ^X cut, ^C copy, ^Y redo, ^V paste, ^LFT/^RGT word jump
            bindings = <
            &trans &none      &none      &none       &none       &none       &none   &kp HOME  &kp PG_UP     &kp PG_DN      &kp END         &trans
            &trans &kp LGUI   &kp LALT   &kp LCTRL   &kp LSHFT   &none       &none   &kp LEFT  &kp DOWN      &kp UP         &kp RIGHT       &trans
            &trans &kp LC(Z)  &kp LC(X)  &kp LC(C)   &kp LC(Y)   &kp LC(V)   &kp DEL &kp BSPC  &kp LC(LEFT)  &kp LC(RIGHT)  &kp RA(SEMI)    &trans
                                         &trans      &trans      &trans      &trans  &trans    &trans
            >;
        };

        num_layer {  // held with either Del or Bksp thumb; BT keys on the left spares
            // -----------------------------------------------------------------------------
            // | ____ | F9   |  F10 |  F11 |  F12 | BT0  |   |      |  7   |  8   |  9   |  /   |  -   |
            // | ____ | F5   |  F6  |  F7  |  F8  | BT1  |   |      |  4   |  5   |  6   |  *   |  +   |
            // | ____ | F1   |  F2  |  F3  |  F4  | BTCLR|   |  0   |  1   |  2   |  3   |  .   | ____ |
            //                      | ____ | ____ | ____ |   | ____ | ____ | ____ |
            // BT0/BT1 select Bluetooth profile 0/1, BTCLR clears the current profile
            bindings = <
            &trans &kp F9   &kp F10 &kp F11 &kp F12 &bt BT_SEL 0   &none   &kp N7  &kp N8  &kp N9  &kp SLASH &kp MINUS
            &trans &kp F5   &kp F6  &kp F7  &kp F8  &bt BT_SEL 1   &none   &kp N4  &kp N5  &kp N6  &kp STAR  &kp PLUS
            &trans &kp F1   &kp F2  &kp F3  &kp F4  &bt BT_CLR     &kp N0  &kp N1  &kp N2  &kp N3  &kp DOT   &trans
                            &trans  &trans  &trans  &trans         &trans  &trans
            >;
        };

        sym_layer {  // held with right thumb (Enter)
            // -----------------------------------------------------------------------------
            // | ____ |  `   |  <   |  >   |  ~   |  |   |   |  &   |  *   |  ?   |  !   |  ^   | ____ |
            // | ____ |  {   |  (   |  )   |  }   |  =   |   |  :   |  "   |  #   |  $   |  %   | ____ |
            // | ____ |  [   |  ]   |  +   |  -   |  _   |   |  BS  |  @   |  ->  |  =>  |  ::  | ____ |
            //                      | ____ | ____ | ____ |   | ____ | ____ | ____ |
            // BS = backslash. ->  =>  :: are macros.
            bindings = <
            &trans &kp GRAVE &kp LT   &kp GT   &kp TILDE &kp PIPE    &kp AMPS  &kp STAR &kp QMARK &kp EXCL &kp CARET  &trans
            &trans &kp LBRC  &kp LPAR &kp RPAR &kp RBRC  &kp EQUAL   &kp COLON &kp DQT  &kp HASH  &kp DLLR &kp PRCNT  &trans
            &trans &kp LBKT  &kp RBKT &kp PLUS &kp MINUS &kp UNDER   &kp BSLH  &kp AT   &m_arrow  &m_fat   &m_scope  &trans
                             &trans   &trans   &trans    &trans      &trans    &trans
            >;
        };
    };
};
